# Project Milestone 2

In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
# load and view dataset
energy = pd.read_csv("energy.csv")
energy

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
55435,55435,Zimbabwe,coal,2019,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869
55436,55436,Zimbabwe,natural_gas,2019,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55437,55437,Zimbabwe,petroleum_n_other_liquids,2019,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890
55438,55438,Zimbabwe,nuclear,2019,NaN,NaN,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55439,55439,Zimbabwe,renewables_n_other,2019,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000

## Transformation 1- Remove Redundant Column

I am first going to remove the Unnamed column which just mirrors the index already provided by the data frame structure.

In [10]:
# transformation 1: remove duplicate index column
energy.drop(labels="Unnamed: 0", axis=1, inplace=True)

In [11]:
# see data frame
energy

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...
55435,Zimbabwe,coal,2019,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869
55436,Zimbabwe,natural_gas,2019,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55437,Zimbabwe,petroleum_n_other_liquids,2019,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890
55438,Zimbabwe,nuclear,2019,NaN,NaN,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55439,Zimbabwe,renewables_n_other,2019,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000

## Transformation 2- Remove Unneeded Rows

Since we are just interested in total emissions, energy production/consumption, and GDP, all specific energy type rows will be removed. While we will lose some granular details, this will make the data more manageable and easier to visualize in conjunction with the other data sets.

In [36]:
# only have rows that are all_energy_types
energy2 = energy[energy.Energy_type.str.contains("all_energy_types")]
energy2

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
6,Afghanistan,all_energy_types,1980,0.026583,0.072561,NaN,1.335650e+04,1.990283,0.000000,NaN
12,Albania,all_energy_types,1980,0.162982,0.155562,NaN,2.682700e+03,60.752906,0.000000,NaN
18,Algeria,all_energy_types,1980,0.780695,2.803017,NaN,1.922170e+04,40.615303,0.000000,NaN
24,American Samoa,all_energy_types,1980,0.005893,0.000000,NaN,3.264600e+01,180.515604,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...
55410,Wake Island,all_energy_types,2019,0.019436,0.000000,NaN,NaN,0.000000,0.000000,1.273787
55416,Western Sahara,all_energy_types,2019,0.003712,0.000000,NaN,NaN,0.000000,0.000000,0.263038
55422,Yemen,all_energy_types,2019,0.159020,0.133273,53.083800,2.916220e+04,5.452938,2.995635,8.292505
55428,Zambia,all_energy_types,2019,0.207097,0.148004,247.181900,1.787385e+04,11.586567,0.837831,7.096290
55434,Zimbabwe,all_energy_types,2019,0.168651,0.143462,37.620400,1.465420e+04,11.508701,4.482962,8.964759

## Transformation 3- Focus on Last 20 Years

The data can further be clarified by only viewing the last 20 years of data. Again, this simplifies the overall analytical possibilities but amplifies readability, particularly considering lack of available data on many countries prior to 2000

In [118]:
# zoom in on last 20 years
energy3 = energy2[energy2.Year>=2000]
energy3

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
27720,World,all_energy_types,2000,402.378722,399.855216,66398.356393,6.141881e+06,65.513928,6.060071,23494.916283
27726,Afghanistan,all_energy_types,2000,0.020178,0.011707,20.579900,2.078000e+04,0.971033,0.980474,1.253149
27732,Albania,all_energy_types,2000,0.098037,0.060832,17.966500,3.129250e+03,31.329346,5.456675,2.926687
27738,Algeria,all_energy_types,2000,1.274141,6.190571,277.759000,3.104220e+04,41.045445,4.587217,70.688903
27744,American Samoa,all_energy_types,2000,0.007837,0.000000,NaN,5.782100e+01,135.540774,0.000000,0.562879
...,...,...,...,...,...,...,...,...,...,...
55410,Wake Island,all_energy_types,2019,0.019436,0.000000,NaN,NaN,0.000000,0.000000,1.273787
55416,Western Sahara,all_energy_types,2019,0.003712,0.000000,NaN,NaN,0.000000,0.000000,0.263038
55422,Yemen,all_energy_types,2019,0.159020,0.133273,53.083800,2.916220e+04,5.452938,2.995635,8.292505
55428,Zambia,all_energy_types,2019,0.207097,0.148004,247.181900,1.787385e+04,11.586567,0.837831,7.096290
55434,Zimbabwe,all_energy_types,2019,0.168651,0.143462,37.620400,1.465420e+04,11.508701,4.482962,8.964759

## Transformation 4- Reset Index

The previous transformations have caused the index to be disorderly so we must reset the index of the data frame to make it easier to slice.

In [119]:
# reset index
energy4 =  energy3.reset_index(drop=True)
energy4

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,2000,402.378722,399.855216,66398.356393,6.141881e+06,65.513928,6.060071,23494.916283
1,Afghanistan,all_energy_types,2000,0.020178,0.011707,20.579900,2.078000e+04,0.971033,0.980474,1.253149
2,Albania,all_energy_types,2000,0.098037,0.060832,17.966500,3.129250e+03,31.329346,5.456675,2.926687
3,Algeria,all_energy_types,2000,1.274141,6.190571,277.759000,3.104220e+04,41.045445,4.587217,70.688903
4,American Samoa,all_energy_types,2000,0.007837,0.000000,NaN,5.782100e+01,135.540774,0.000000,0.562879
...,...,...,...,...,...,...,...,...,...,...
4615,Wake Island,all_energy_types,2019,0.019436,0.000000,NaN,NaN,0.000000,0.000000,1.273787
4616,Western Sahara,all_energy_types,2019,0.003712,0.000000,NaN,NaN,0.000000,0.000000,0.263038
4617,Yemen,all_energy_types,2019,0.159020,0.133273,53.083800,2.916220e+04,5.452938,2.995635,8.292505
4618,Zambia,all_energy_types,2019,0.207097,0.148004,247.181900,1.787385e+04,11.586567,0.837831,7.096290
4619,Zimbabwe,all_energy_types,2019,0.168651,0.143462,37.620400,1.465420e+04,11.508701,4.482962,8.964759

## Transformation 5- Fill Emissions NA

It appears that the rows that have missing values in the emissions category are often countries that don't have high emissions over the 20 year period. In order to avoid having to remove those rows, I impute the median emissions of a particular year in the missing spots.

In [114]:
# find and calculate median emisssions for that year
median_emissions = energy4.groupby("Year").CO2_emission.transform(lambda x: x.fillna(x.median()))
median_emissions

0       23494.916283
1           1.253149
2           2.926687
3          70.688903
4           0.562879
            ...
4615        1.273787
4616        0.263038
4617        8.292505
4618        7.096290
4619        8.964759
Name: CO2_emission, Length: 4620, dtype: float64

In [124]:
# attatch nan->medians to data frame
energy4["CO2_emission"] = median_emissions
energy4

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission,CO2_emissions
0,World,all_energy_types,2000,402.378722,399.855216,66398.356393,6.141881e+06,65.513928,6.060071,23494.916283,23494.916283
1,Afghanistan,all_energy_types,2000,0.020178,0.011707,20.579900,2.078000e+04,0.971033,0.980474,1.253149,1.253149
2,Albania,all_energy_types,2000,0.098037,0.060832,17.966500,3.129250e+03,31.329346,5.456675,2.926687,2.926687
3,Algeria,all_energy_types,2000,1.274141,6.190571,277.759000,3.104220e+04,41.045445,4.587217,70.688903,70.688903
4,American Samoa,all_energy_types,2000,0.007837,0.000000,NaN,5.782100e+01,135.540774,0.000000,0.562879,0.562879
...,...,...,...,...,...,...,...,...,...,...,...
4615,Wake Island,all_energy_types,2019,0.019436,0.000000,NaN,NaN,0.000000,0.000000,1.273787,1.273787
4616,Western Sahara,all_energy_types,2019,0.003712,0.000000,NaN,NaN,0.000000,0.000000,0.263038,0.263038
4617,Yemen,all_energy_types,2019,0.159020,0.133273,53.083800,2.916220e+04,5.452938,2.995635,8.292505,8.292505
4618,Zambia,all_energy_types,2019,0.207097,0.148004,247.181900,1.787385e+04,11.586567,0.837831,7.096290,7.096290
4619,Zimbabwe,all_energy_types,2019,0.168651,0.143462,37.620400,1.465420e+04,11.508701,4.482962,8.964759,8.964759

In [128]:
# check that nans are gone for emissions column
energy4.isna().sum()

Country                          0
Energy_type                      0
Year                             0
Energy_consumption             169
Energy_production              169
GDP                            584
Population                     575
Energy_intensity_per_capita    269
Energy_intensity_by_GDP        269
CO2_emission                     0
dtype: int64

## Final Dataset

In [131]:
energy4

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,2000,402.378722,399.855216,66398.356393,6.141881e+06,65.513928,6.060071,23494.916283
1,Afghanistan,all_energy_types,2000,0.020178,0.011707,20.579900,2.078000e+04,0.971033,0.980474,1.253149
2,Albania,all_energy_types,2000,0.098037,0.060832,17.966500,3.129250e+03,31.329346,5.456675,2.926687
3,Algeria,all_energy_types,2000,1.274141,6.190571,277.759000,3.104220e+04,41.045445,4.587217,70.688903
4,American Samoa,all_energy_types,2000,0.007837,0.000000,NaN,5.782100e+01,135.540774,0.000000,0.562879
...,...,...,...,...,...,...,...,...,...,...
4615,Wake Island,all_energy_types,2019,0.019436,0.000000,NaN,NaN,0.000000,0.000000,1.273787
4616,Western Sahara,all_energy_types,2019,0.003712,0.000000,NaN,NaN,0.000000,0.000000,0.263038
4617,Yemen,all_energy_types,2019,0.159020,0.133273,53.083800,2.916220e+04,5.452938,2.995635,8.292505
4618,Zambia,all_energy_types,2019,0.207097,0.148004,247.181900,1.787385e+04,11.586567,0.837831,7.096290
4619,Zimbabwe,all_energy_types,2019,0.168651,0.143462,37.620400,1.465420e+04,11.508701,4.482962,8.964759

## Ethical Implications of Wrangling

Most of my transformations were to make the code more readable and easier to analyze when the other datasets are brought into play. That said, the final transformation I made, imputing median values into the CO2 emissions data, has some ethical implications. We do not know why these emissions entries were Nan and by imputing values into them we remove the possibility of understanding why those countries may have not had entries for those categories. While this may not lead to huge discrepancies as part of the overall analysis, it does erase some of that country's agency by deciding for them what numbers to use as their emissions.